
<div class="row" >
    <div class="col-sm">
        <div class="card">
            <div class="embed-responsive embed-responsive-21by9">
                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collPJ" aria-expanded="false" aria-controls="collPJ">
                        <div id="progra" onload="imag()"></div>
                    </button>
                </p>
                <!--
                <img  class="card-img-top embed-responsive-item"  src="/images/prog.jpg" alt="..." style="width: 100%">-->
                <h5 class="card-title">Lenguajes de Programación</h5>
                <p class="card-text">Programación para el desarrollo de competencias en aplicaciones de escritorio y aplicaciones web.</p>
            </div>
        </div>
        <!--Programación-->

        <div class="collapse" id="collPJ">
            <div class="card card-body">
                <!--Programación Java-->
                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collPJ1" aria-expanded="false" aria-controls="collPJ1">
                        Programación con Java
                    </button>
                </p>
                <div class="collapse" id="collPJ1">
                    <div class="card card-body">
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collPJA" aria-expanded="false" aria-controls="collPJA">
                                Programación Java Básico
                            </button>
                        </p>
                        <div class="collapse" id="collPJA">
                            <div class="card card-body">

                            </div>
                        </div>
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collPJB" aria-expanded="false" aria-controls="collPJB">
                                Programación Java Forms
                            </button>
                        </p>
                        <div class="collapse" id="collPJB">
                            <div class="card card-body">
                                <a href="/HerramientasII/saberesh">Saberes previos</a>
                                <a href="/HerramientasII/objetosh">Programación Orientada a Objetos</a>
                                <a href="/HerramientasII/atributosh">Atributos, Métodos y Modificadores</a>
                                <a href="/HerramientasII/herencia">Herencia</a>
                                <a href="/HerramientasII/polimorfismo">Polimorfismo</a>
                                <a href="/HerramientasII/interfaces">Interfaces</a>
                                <a href="/HerramientasII/calculadorajava">Java Forms</a>
                                <a href="/HerramientasII/crud">Ejemplo de CRUD con datos en memoria</a>
                                <a href="/HerramientasII/comunicajava">Comunicación entre formularios y password</a>
                                <a href="/HerramientasII/paneles">Páneles y Eventos</a>
                                <a href="/HerramientasII/miscelaneos">Miscelaneos</a>
                                <a href="/HerramientasII/conexion">Bases de Datos</a>
                                <a href="/HerramientasII/talleresh">Talleres</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!--/Programación Java-->


                <!--Programación SQL-->
                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collSQ" aria-expanded="false" aria-controls="collSQ">
                        Programación con SQL
                    </button>
                </p>
                <div class="collapse" id="collSQ">
                    <div class="card card-body">
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collSQA" aria-expanded="false" aria-controls="collSQA">
                                El Modelo Relacional
                            </button>
                        </p>
                        <div class="collapse" id="collSQA">
                            <div class="card card-body">
                                <a href="/Basedatosuno/dbms">Configuración del DBMS y el SSMS</a>
                                <a href="/Basedatosuno/modelo">El modelo relacional</a>
                                <a href="/Basedatosuno/tablas">Formulación de consultas con SQL</a>
                                <a href="/Basedatosuno/datos">El lenguaje de definición de datos (DDL)</a>
                                <a href="/Basedatosuno/resumen">Resumen de tablas con GROUP BY y HAVING</a>
                                <a href="/Basedatosuno/evaluacion">Proceso de evaluación conceptual para las sentencias SELECT</a>
                                <a href="/Basedatosuno/conjuntos">Conjuntos</a>
                                <a href="/Basedatosuno/taller">Taller</a>
                                <a href="/Basedatosuno/miguia">Guía MySql</a>
                                <a href="/Basedatosuno/vistas">Vistas</a>
                            </div>
                        </div>
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collSQB" aria-expanded="false" aria-controls="collSQB">
                                Programación TRANSACT-SQL
                            </button>
                        </p>
                        <div class="collapse" id="collSQB">
                            <div class="card card-body">
                                <a href="/Basedatdos/saberesii">Revisando saberes</a>
                                <a href="/Basedatdos/vistasii">Vistas</a>
                                <a href="/Basedatdos/funciones">Funciones Escalares</a>
                                <a href="/Basedatdos/multisentencia">Funciones de Tabla Multisentencia</a>
                                <a href="/Basedatdos/linea">Funciones de Tabla en Línea</a>
                                <a href="/Basedatdos/procedimientos">Procedimientos Almacenados</a>
                                <a href="/Basedatdos/esquemas">Creación de Esquemas en SQL Server</a>
                                <a href="/Basedatdos/flujo">Herramientas de Control de Flujo/a>
                                <a href="/Basedatdos/errores">Control de Errores en TRANSACT-SQL</a>
                                <a href="/Basedatdos/triggers">Triggers en TRANSACT-SQL</a>
                                <a href="/Basedatdos/cursores">Cursores en TRANSACT-SQL</a>
                                <a href="/Basedatdos/transacciones">Manejo de Transacciones</a>
                                <a href="/Basedatdos/postgresql">PostgreSQL</a>
                                <a href="/Basedatdos/oracle">Oracle</a>
                                <a href="/Basedatdos/biblio">Bibliografía</a>
                            </div>
                        </div>

                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collSQC" aria-expanded="false" aria-controls="collSQC">
                                Mongo DB
                            </button>
                        </p>
                        <div class="collapse" id="collSQC">
                            <div class="card card-body">
                                Mongo DB
                            </div>
                        </div>

                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collSQD" aria-expanded="false" aria-controls="collSQD">
                                PostgreSql
                            </button>
                        </p>
                        <div class="collapse" id="collSQD">
                            <div class="card card-body">
                                PostgreSql
                            </div>
                        </div>

                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collSQE" aria-expanded="false" aria-controls="collSQE">
                                Oracle
                            </button>
                        </p>
                        <div class="collapse" id="collSQE">
                            <div class="card card-body">
                                Oracle
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Programación SQL-->

                <!--Programación Javascript-->
                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collJS" aria-expanded="false" aria-controls="collJS">
                        Programación con Javascript
                    </button>
                </p>
                <div class="collapse" id="collJS">
                    <div class="card card-body">
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collJSA" aria-expanded="false" aria-controls="collJSA">
                                Javascript Básico
                            </button>
                        </p>
                        <div class="collapse" id="collJSA">
                            <div class="card card-body">

                            </div>
                        </div>
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collJSB" aria-expanded="false" aria-controls="collJSB">
                                Javascript Avanzado
                            </button>
                        </p>
                        <div class="collapse" id="collJSB">
                            <div class="card card-body">

                            </div>

                        </div>
                    </div>
                </div>
                <!--/Programación Javascript-->

                <!--Programación C-->
                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collPC" aria-expanded="false" aria-controls="collPC">
                        Programación con C
                    </button>
                </p>
                <div class="collapse" id="collPC">
                    <div class="card card-body">
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collPCA" aria-expanded="false" aria-controls="collPCA">
                                Programación C puro
                            </button>
                        </p>
                        <div class="collapse" id="collPCA">
                            <div class="card card-body">

                            </div>
                        </div>
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collPCB" aria-expanded="false" aria-controls="collPCB">
                                Programación C++
                            </button>
                        </p>
                        <div class="collapse" id="collPCB">
                            <div class="card card-body">

                            </div>

                        </div>
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collPCC" aria-expanded="false" aria-controls="collPCC">
                                Programación C#
                            </button>
                        </p>
                        <div class="collapse" id="collPCC">
                            <div class="card card-body">

                            </div>

                        </div>
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collPCD" aria-expanded="false" aria-controls="collPCD">
                                Programación Visual C++
                            </button>
                        </p>
                        <div class="collapse" id="collPCD">
                            <div class="card card-body">

                            </div>

                        </div>
                    </div>
                </div>
                <!--/Programación C-->
                <!--Aplicaciones Móviles-->
                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collAM" aria-expanded="false" aria-controls="collAM">
                        Desarrollo de Aplicaciones Móviles
                    </button>
                </p>
                <div class="collapse" id="collAM">
                    <div class="card card-body">
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collAMA" aria-expanded="false" aria-controls="collAMA">
                                Desarrollo con Java
                            </button>
                        </p>
                        <div class="collapse" id="collAMA">
                            <div class="card card-body">

                            </div>
                        </div>
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collAMB" aria-expanded="false" aria-controls="collAMB">
                                Desarrollo con Kotlin
                            </button>
                        </p>
                        <div class="collapse" id="collAMB">
                            <div class="card card-body">

                            </div>

                        </div>
                    </div>
                </div>
                <!--/Aplicaciones Móviles-->
                <!--Simulación Estocástica-->
                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collES" aria-expanded="false" aria-controls="collES">
                        Simulación Estocástica
                    </button>
                </p>
                <div class="collapse" id="collES">
                    <div class="card card-body">
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collESA" aria-expanded="false" aria-controls="collESA">
                                Procesos Markovianos
                            </button>
                        </p>
                        <div class="collapse" id="collESA">
                            <div class="card card-body">

                            </div>
                        </div>
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collESB" aria-expanded="false" aria-controls="collESB">
                                Teoría de Colas
                            </button>
                        </p>
                        <div class="collapse" id="collESB">
                            <div class="card card-body">

                            </div>

                        </div>
                    </div>
                </div>
                <!--/Simulación Estocástica-->

                <!--Autómatas-->
                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collAU" aria-expanded="false" aria-controls="collAU">
                        Teoría de Lenguajes
                    </button>
                </p>
                <div class="collapse" id="collAU">
                    <div class="card card-body">
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collAUA" aria-expanded="false" aria-controls="collAUA">
                                Aritmética de Cadenas
                            </button>
                        </p>
                        <div class="collapse" id="collAUA">
                            <div class="card card-body">
                                <a href="/Automatas/saberes">Saberes previos</a>
                                <a href="/Automatas/cadena">Alfabetos y Lenguajes</a>
                                <a href="/Automatas/lenguajes">Lenguajes y Expresiones Regulares</a>
                            </div>
                        </div>
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collAUB" aria-expanded="false" aria-controls="collAUB">
                                Autómatas
                            </button>
                        </p>
                        <div class="collapse" id="collAUB">
                            <ol type="1">
                                <li><a href="/Automatas/aufindetermin">Autómatas Finitos Deterministas</a></li>
                                <li><a href="/Automatas/aufinnoder">Autómatas Finitos No Deterministas</a></li>
                                <li><a href="/Automatas/transiciones">Autómatas con transiciones λ</a></li>
                            </ol>



                        </div>
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collAUC" aria-expanded="false" aria-controls="collAUC">
                                Gramáticas
                            </button>
                        </p>
                        <div class="collapse" id="collAUC">
                            <div class="card card-body">
                                <a href="/Automatas/regulares">Gramáticas Regulares</a>
                                <a href="/Automatas/gic">Gramáticas Independientes del Contexto</a>
                                <a href="/Automatas/pila">Autómatas de pila</a>
                                <a href="/Automatas/arbol">Árboles de derivación y análisis sintáctico</a>
                                <a href="/Automatas/atributo">Gramáticas con atributos</a>
                                <a href="/Automatas/contexto">Simplificación de gramáticas GIC</a>
                                <a href="/Automatas/chomsky">Forma Normal de Chomsky</a>
                                <a href="/Automatas/greibach">Forma Normal de Greibach</a>
                                <a href="/Automatas/descendente">Reconocimiento Descendente</a>
                                <a href="/Automatas/ascendente">Reconocimiento Ascendente</a>
                            </div>

                        </div>
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collAUD" aria-expanded="false" aria-controls="collAUD">
                                Máquinas de Turing
                            </button>
                        </p>
                        <div class="collapse" id="collAUD">
                            <div class="card card-body">

                            </div>

                        </div>
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collAUE" aria-expanded="false" aria-controls="collAUE">
                                Talleres
                            </button>
                        </p>
                        <div class="collapse" id="collAUE">
                            <div class="card card-body">
                                <a href="/Automatas/talleres">Talleres</a>
                            </div>

                        </div>
                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collAUF" aria-expanded="false" aria-controls="collAUF">
                                Laboratorios
                            </button>
                        </p>
                        <div class="collapse" id="collAUF">
                            <div class="card card-body">
                                <a href="/Automatas/laboratorios">Laboratorios</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!--/Autómatas-->


            </div>
        </div>
    </div>
    <!--/Programación-->
    <!--Automatización-->
    <div class="col-sm">
        <div class="card">
            <div class="embed-responsive embed-responsive-21by9">
                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collB" aria-expanded="false" aria-controls="collB">
                        <div id="autom" onload="imag()"></div>
                    </button>
                </p>
                <h5 class="card-title">Automatización Industrial</h5>
                <p class="card-text">Algoritmos para programación de sistemas SCADA, control clásico y control inteligente.</p>
            </div>
        </div>
        <div class="collapse" id="collB">
            <div class="card card-body">
                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collB1" aria-expanded="false" aria-controls="collB1">
                        Button with data-bs-target
                    </button>
                </p>
                <div class="collapse" id="collB1">
                    <div class="card card-body">

                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collBB" aria-expanded="false" aria-controls="collBB">
                                Programación
                            </button>
                        </p>
                        <div class="collapse" id="collBB">
                            <div class="card card-body">
                                <p>
                                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collBB1" aria-expanded="false" aria-controls="collBB1">
                                        Button with data-bs-target
                                    </button>
                                </p>
                                <div class="collapse" id="collBB1">
                                    <div class="card card-body">
                                        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                                    </div>
                                </div>

                                <p>
                                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collBB2" aria-expanded="false" aria-controls="collBB2">
                                        Button with data-bs-target
                                    </button>
                                </p>
                                <div class="collapse" id="collBB2">
                                    <div class="card card-body">
                                        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collB2" aria-expanded="false" aria-controls="collB2">
                        Button with data-bs-target
                    </button>
                </p>
                <div class="collapse" id="collB2">
                    <div class="card card-body">
                        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Automatización-->

    <!--Inteligencia Artificial-->
    <div class="col-sm">
        <div class="card">
            <div class="embed-responsive embed-responsive-21by9">
                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collC" aria-expanded="false" aria-controls="collC">
                        <div id="inteli" onload="imag()"></div>
                    </button>
                </p>

                <h5 class="card-title">Inteligencia Artificial</h5>
                <p class="card-text">Aprendizaje de máquina con algoritmos estadísticos, de análisis numérico y redes neuronales artificiales.</p>
            </div>
        </div>
        <div class="collapse" id="collC">
            <div class="card card-body">
                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collC1" aria-expanded="false" aria-controls="collC1">
                        Button with data-bs-target
                    </button>
                </p>
                <div class="collapse" id="collC1">
                    <div class="card card-body">


                        <p>
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collCC" aria-expanded="false" aria-controls="collCC">
                                Programación
                            </button>
                        </p>
                        <div class="collapse" id="collCC">
                            <div class="card card-body">
                                <p>
                                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collCC1" aria-expanded="false" aria-controls="collCC1">
                                        Button with data-bs-target
                                    </button>
                                </p>
                                <div class="collapse" id="collCC1">
                                    <div class="card card-body">
                                        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                                    </div>
                                </div>

                                <p>
                                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collCC2" aria-expanded="false" aria-controls="collCC2">
                                        Button with data-bs-target
                                    </button>
                                </p>
                                <div class="collapse" id="collCC2">
                                    <div class="card card-body">
                                        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <p>
                    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collC2" aria-expanded="false" aria-controls="collC2">
                        Button with data-bs-target
                    </button>
                </p>
                <div class="collapse" id="collC2">
                    <div class="card card-body">
                        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Inteligencia Artificial-->
</div>