<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Easiercomp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="container">
    <!--Navbar-->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg border-bottom fixed-top">
        <div class="container">
            <div id="logo" onload="imag()"></div>
            <a class="navbar-brand" href="/" style="color: white">&nbspEasiercomp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link bg-dark" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  bg-dark" href="/contact">Contact</a>
                    </li>
                </ul>


                <ul class="navbar-nav me-3" sec:authorize="hasRole('admin')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/">Home</a></li>
                        </ul>
                    </li>
                </ul>


                <ul class="navbar-nav me-3" sec:authorize="hasRole('client')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bg-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            User
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/">Home</a></li>
                        </ul>
                    </li>
                </ul>

                <form sec:authorize="isAuthenticated()" method="post" action="/logout">
                    <input type="hidden" th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}" />

                    <button type="submit" class="btn btn-danger">
                        Logout
                    </button>
                </form>

                <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a href="/register" class="btn btn-outline-primary me-2">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="btn btn-light">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav><br><br>
    <h1></h1>
    <!--/Navbar-->
    <marquee>Bienvenido al website del ingeniero Ruben@ngel. Este sitio está construido con la finalidad de intercambiar conocimientos y experiencias
        con quienes tengo o alguna vez tube la oportunidad de compartir en el ámbito académico desde mi posición de docente. Espero que aceptes mi invitación y te registres. La información solicitada
        es solo con el fin de poderte brindar una buena experiencia mientras estés en el sitio. ¡¡Éxitos!!</marquee>
    <!--Cards-->
    <div id="mimenu" onload="menu()"></div>
    <!--/Cards-->
    <!--Content-->
    <div class="card card-body"  style="text-align: center; background-color: lightgray"><h1><strong>Trabajando con Java Forms</strong></h1></div>
    //Explicación, fuente y teoría se suministran en clase. <br>
    <br>

    <div class="card container p-4 w-70" style="margin-top: 1%; align-items: center;">
        <div class="main-header ">
            <img src="/images/herr/calcul.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Formulario. </h5>
        </div>
    </div><br>
    <pre>

package calculadora;

public class Calculadora {

    public static void main(String[] args) {
        // TODO code application logic here
    }

}

////////////////////////////////////////////////////////
public class CalculadoraBasica extends javax.swing.JFrame {

  public CalculadoraBasica() {
        initComponents();
        setLocationRelativeTo(null);
        Calendar c = Calendar.getInstance();
        int anio = c.get(Calendar.YEAR);
        int mes = c.get(Calendar.MONTH);
        int dia = c.get(Calendar.DAY_OF_MONTH);
        int hora = c.get(Calendar.HOUR);
        int min = c.get(Calendar.MINUTE);
        int seg = c.get(Calendar.SECOND);
        tiempo.setText(String.valueOf(anio) + "/"
           + String.valueOf(mes+1) + "/"
           + String.valueOf(dia) + "     " + String.valueOf(hora)
           + ":" + String.valueOf(min) + ":" + String.valueOf(seg));
        titulo.setText("Ruben@ngel Designer");
    }

  private void SumarActionPerformed(java.awt.event.ActionEvent evt) {
        double varX = Double.parseDouble(var_X.getText());
        double varY = Double.parseDouble(var_Y.getText());
//        double resultado = varX*varY;
//        result.setText(String.format("%.2f", resultado));
        result.setText(String.format("%.2f", varX+varY));
    }

private void RestarActionPerformed(java.awt.event.ActionEvent evt) {
        double varX = Double.parseDouble(var_X.getText());
        //double varY = Double.parseDouble(var_Y.getText());
//        double resultado = varX*varY;
//        result.setText(String.format("%.2f", resultado));
        result.setText(String.format("%.2f", Math.sin(varX*Math.PI/180)));
    }

  private void MultiplicarActionPerformed(java.awt.event.ActionEvent evt) {
        double varX = Double.parseDouble(var_X.getText());
        double varY = Double.parseDouble(var_Y.getText());
//        double resultado = varX*varY;
//        result.setText(String.format("%.2f", resultado));
        result.setText(String.format("%.2f", varX*varY));
    }

private void DividirActionPerformed(java.awt.event.ActionEvent evt) {
        double varX = Double.parseDouble(var_X.getText());
        double varY = Double.parseDouble(var_Y.getText());
//        double resultado = varX*varY;
//        result.setText(String.format("%.2f", resultado));
        result.setText(String.format("%.2f", varX/varY));
    }

   private void jButton3ActionPerformed(java.awt.event.ActionEvent evt) {
        var_X.setText("");
        var_Y.setText("");
        result.setText("");
    }

  private void jButton1ActionPerformed(java.awt.event.ActionEvent evt) {
        this.dispose();
    }

    public static void main(String args[]) {
        awt.EventQueue.invokeLater(new Runnable() {
            public void run() {
                new CalculadoraBasica().setVisible(true);
            }
        });
    }
}



    </pre>
    <!--/Content-->
</div>
<!--Content-->
<script type="text/javascript" src="/js/menus.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>