<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Easiercomp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="container">
    <!--Navbar-->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg border-bottom fixed-top">
        <div class="container">
            <div id="logo" onload="imag()"></div>
            <a class="navbar-brand" href="/" style="color: white">&nbspEasiercomp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link bg-dark" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  bg-dark" href="/contact">Contact</a>
                    </li>
                </ul>


                <ul class="navbar-nav me-3" sec:authorize="hasRole('admin')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/">Home</a></li>
                        </ul>
                    </li>
                </ul>


                <ul class="navbar-nav me-3" sec:authorize="hasRole('client')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bg-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            User
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/">Home</a></li>
                        </ul>
                    </li>
                </ul>

                <form sec:authorize="isAuthenticated()" method="post" action="/logout">
                    <input type="hidden" th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}" />

                    <button type="submit" class="btn btn-danger">
                        Logout
                    </button>
                </form>

                <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a href="/register" class="btn btn-outline-primary me-2">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="btn btn-light">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav><br><br>
    <h1></h1>
    <!--/Navbar-->
    <marquee>Bienvenido al website del ingeniero Ruben@ngel. Este sitio está construido con la finalidad de intercambiar conocimientos y experiencias
        con quienes tengo o alguna vez tube la oportunidad de compartir en el ámbito académico desde mi posición de docente. Espero que aceptes mi invitación y te registres. La información solicitada
        es solo con el fin de poderte brindar una buena experiencia mientras estés en el sitio. ¡¡Éxitos!!</marquee>
    <!--Cards-->
    <div id="mimenu" onload="menu()"></div>
    <!--/Cards-->
    <!--Content-->
    <div class="card card-body"  style="text-align: center; background-color: lightgray"><h1><strong>Control de Errores en TRANSACT-SQL</strong></h1></div>
    <div class="container">
        <div>
            SQL Server proporciona el control de errores a través de las instrucciones TRY y CATCH. La sintaxis de TRY
            CATCH es la siguiente:
            <pre>
            BEGIN TRY
            EXPRESION_SQL
            END TRY
            BEGIN CATCH
            EXPRESION_SQL
            END CATCH
        </pre>


            Ejemplo: Implemente un programa que evalúe la división de dos números enteros. Si la división ha sido
            exitosa, imprima un mensaje: NO HAY ERROR. Caso contrario imprimir un mensaje: SE HA PRODUCIDO UN ERROR


            <div class="card container p-4 w-30" style="margin-top: 1%; align-items: center;">
                <div class="main-header ">
                    <img src="/images/imgDBII/Error_1.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div><br>

            <h3>Funciones especiales de error.</h3>
            Las funciones especiales de error, están disponibles únicamente en el bloque <b>CATCH</b> para la obtención
            de
            información detallada del error. Las funciones que se utilizan en el control de errores son:
            <div class="card container p-4 w-30" style="margin-top: 1%; align-items: center;">
                <div class="main-header ">
                    <img src="/images/imgDBII/Error_2.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div><br>

            Son extremadamente útiles para realizar una auditoría de errores.

            La variable de sistema @@ERROR
            En versiones anteriores a SQL Server 2005, no estaban disponibles las instrucciones TRY CATCH. En estas
            versiones se controlaban los errores utilizando la variable global de sistema @@ERROR, que almacena el
            número de error producido por la última sentencia Transact SQL ejecutada.

            Ejemplo.
            <div class="card container p-4 w-30" style="margin-top: 1%; align-items: center;">
                <div class="main-header ">
                    <img src="/images/imgDBII/Error_3.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div><br>

            El uso de <span style="color: blueviolet;">@@ERROR</span> para controlar errores puede provocar multitud de
            problemas. Uno de los más habituales es
            sin duda, incluir una nueva sentencia Transact SQL entre la línea que provocó el error y la que lo controla.
            Esa nueva instrucción restaura el valor de <span style="color: blueviolet;">@@ERROR</span> y no controla el
            error. Un ejemplo de esta situación es:

            <div class="card container p-4 w-30" style="margin-top: 1%; align-items: center;">
                <div class="main-header ">
                    <img src="/images/imgDBII/Error_4.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div><br>

            Obsérvese bien la diferencia entre los dos programas y los resultados arrojados.<br><br>


            <h2>Mensajes de Error definidos por el Sistema y definidos por el Usuario.</h2>
            Este tema se refiere a la visualización de errores definidos por el sistema y la agregación de mensajes de
            error definidos por el usuario a la instancia de SQL Server. La tabla sys.messages contiene una fila por
            cada mensaje de error definido por el usuario y mensajes integrados en la instancia de SQL Server. Los
            mensajes de error integrados son aquellos que se plantearon en respuesta a los errores estándar de SQL
            Server. Los mensajes de error definidos por el usuario se utilizan comúnmente en aplicaciones de terceros
            (third-party applications), que definen un conjunto de mensajes de error para usarse dentro de una
            aplicación. Los mensajes de error definidos por el usuario permiten la parametrización, lo que significa que
            puede crear sus propios mensajes, los cuales permitirán una personalización basada en parámetros
            visualizando la información de error del sistema. Para esto puede utilizar la vista del catálogo de sistema
            sys.messages para ver todos los mensajes de error del sistema y los definidos por el usuario en la instancia
            de SQL Server, como se muestra a continuación.

            <div class="card container p-4 w-30" style="margin-top: 1%; align-items: center;">
                <div class="main-header ">
                    <img src="/images/imgDBII/Error_5.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div><br>

            Esta consulta solo muestra los mensajes del español.<br><br>

            Explicando la tabla:<br>
            <pre>

            <i>message_id:</i> Identificador del mensaje.
                <i>severity:</i> Nivel de gravedad.
                <i>is_event_logged:</i> Se usa si el error se escribe en el registro de eventos de Windows.
                <i>text:</i> Texto del mensaje.<br><br>
</pre>
            Los rangos de nivel de gravedad <b>“Severity”</b> son de 1 a 25, con las siguientes categorizaciones
            implícitas:<br><br>

            0 al 10: Solo son mensajes informativos.<br>

            11 al 16: Son errores de motor de base de datos que pueden ser corregidos por el usuario, como son los
            objetos de la base de datos que faltan cuando se ejecuta la consulta, sugerencias de bloqueo no compatibles,
            permisos denegados, bloqueos de transacción y errores de sintaxis. Por ejemplo, una violación de llave
            primaria <b>“PRIMARY KEY”</b> devolverá un error de nivel de gravedad 14. Un error de división entre cero
            devuelve
            un error de nivel de gravedad 16.<br>

            17 al 19: Son errores que necesitan ser atendidos por el sysadmin, por ejemplo, si SQL Server se ha quedado
            sin recursos de memoria, o si se han alcanzado los límites del motor de base de datos.<br>

            20 al 25: Son errores fatales y de problemas del sistema, como los son hardware o software dañado que afecta
            a la base de datos, problemas de integridad y errores de los medios de comunicación.<br>

            La anterior consulta despliega una tabla como la siguiente:<br>

            <div class="card container p-4 w-30" style="margin-top: 1%; align-items: center;">
                <div class="main-header ">
                    <img src="/images/imgDBII/Error_6.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div><br>

            En ésta, el signo % es un parámetro de sustitución que permite al motor de base de datos personalizar la
            salida del mensaje de error basado en el contexto actual de la base de datos y error de evento. Los valores
            concatenados para el signo <b>%</b> indican el tipo de dato y la longitud del parámetro de
            sustitución.<br><br>

            <h3>Creación de un mensaje de error definido por el usuario.</h3>
            Para crear un nuevo mensaje de error definido por el usuario se hace utilizando el procedimiento almacenado
            de sistema sp_addmessage, tal vez desee crear sus propios mensajes de error personalizados para sus
            aplicaciones, y así garantizar la coherencia a través de rutinas para el manejo de errores específicos de
            aplicación.<br><br>

            Para crear un nuevo mensaje de error y agregarlo a la vista de sistema <i>sys.messages</i>, tendremos que
            ejecutar
            el siguiente procedimiento almacenado <i>“sp_addmessage”</i>, para que posteriormente lo invoquemos con el
            comando
            <b>RAISERROR().</b>

            <div class="card container p-4 w-30" style="margin-top: 1%; align-items: center;">
                <div class="main-header ">
                    <img src="/images/imgDBII/Error_7.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div><br>

            Descripción de los parámetros:<br>
            <i>msg_id:</i> Es el identificador del error proporcionado por el usuario, que puede ser entre 50.001 y
            2.147.483.647. El ID del mensaje no es la clave única o llave primaría de la tabla; en su lugar, la clave
            única está compuesta por la combinación del ID del mensaje y el ID de idioma.<br>
            <i>severity:</i> Define el nivel de gravedad del mensaje (1 a 25).<br>
            <i>msg:</i> Representa el mensaje de error real, que utiliza un tipo de datos nvarchar(255).
            <i>language:</i> Especifica el idioma en el que está escrito el mensaje de error.<br>
            <i>with_log:</i> Esto define si el mensaje se escribirá o no en el Registro de errores de aplicación para
            Windows
            cuando se invoque el error.<br>
            <i>Replace:</i> Cuando se especifica el error existente definido por el usuario (basado en ID del mensaje y
            el
            lenguaje) es sobrescrito con los nuevos parámetros pasados al procedimiento almacenado del sistema.<br>

            <b>Ejemplo.</b>

            <div class="card container p-4 w-30" style="margin-top: 1%; align-items: center;">
                <div class="main-header ">
                    <img src="/images/imgDBII/Error_8.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div><br>

            Para que la anterior consulta le funcione, se debe crear la versión del mensaje primero en Inglés que es el
            idioma nativo de <b>SQL Server</b>. Esto se hace con la siguiente sentencia:
            <div class="card container p-4 w-30" style="margin-top: 1%; align-items: center;">
                <div class="main-header ">
                    <img src="/images/imgDBII/Error_9.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div><br>

            Invocando los mensajes de error con <b>RAISERROR():</b>

            <div class="card container p-4 w-30" style="margin-top: 1%; align-items: center;">
                <div class="main-header ">
                    <img src="/images/imgDBII/Error_10.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div><br>

            Resultado
            <pre><i>

        Changed language setting to us_english.
        Mens. 50003, Nivel 14, Estado 1, Línea 4
        You dont have permission in the current table dbo.DEMO_ROLES contact the database administrator.
        Se cambió la configuración de idioma a Español.
        Mens. 50003, Nivel 14, Estado 1, Línea 8
        No tiene permisos en la tabla actual dbo.DEMO_ROLES contacte al administrador de base de datos.</i></pre>

            Cómo eliminar un mensaje de error.
            Sintaxis.
            <pre>
                sp_dropmessage [ @msgnum = ] message_number
                [ , [ @lang = ] ‘language’ ]

            </pre>
            <b>Ejemplo.</b>
            <pre>
            EXEC sp_dropmessage 50003</pre><br>
            <p style="color: red;"><b>Ejercicio.</b></p>Elabore una consulta que arroje un error definido por el usuario al
            intentar crear una tabla en una base de datos siendo que ésta ya existe. No se deben desplegar errores del
            sistema. La salida será similar a la siguiente:
            <div class="card container p-4 w-30" style="margin-top: 1%; align-items: center;">
                <div class="main-header ">
                    <img src="/images/imgDBII/Error_11.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div><br>

            <p style="color: red;"><b>Ejercicio.</b></p>Repita el ejercicio anterior cambiando el texto del mensaje sin cambiar
            el Id del mismo. Hágalo para un <b>INSERT</b> en un campo donde se presente conflicto de datos. La salida
            será
            similar a la siguiente:
            <div class="card container p-4 w-30" style="margin-top: 1%; align-items: center;">
                <div class="main-header ">
                    <img src="/images/imgDBII/Error_12.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div><br>

            <p style="color: red;"><b>Ejercicio.</b></p> Presente dos ejemplos de uso de mensajes de error.

            Más información sobre el tema se puede encontrar
            <a
                    href="https://learn.microsoft.com/es-es/sql/relational-databases/system-stored-procedures/sp-altermessage-transact-sql?view=sql-server-ver16&redirectedfrom=MSDN"><b>aquí.</b></a>
        </div>
    </div>
    <!--/Content-->
</div>
<!--Content-->
<script type="text/javascript" src="/js/menus.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>